    body {
        background-color: aquamarine;
    }
    main {
        background-color: chartreuse;
    }
    header {
        text-align: center;
    }
    main {
        font-size: xx-large;
        font-family: cursive;
    }