    body {
        background-color: aquamarine;
    }
    main {
        background-color: chartreuse;
    }
    header {
        text-align: center;
    }
    main {
        font-size: x-large;
        font-family: cursive; 
        text-align: justify;
        margin: auto
    }